<header>
    <div class="container">
        <nav class="main-nav">
            <div class="logo-item">
                <a href="#">
                    <h2 class="logo">JUSTICE LEAGUE</h2>
                </a>
            </div>
            <ul class="nav-button-wrapper" role="navigation">
                <a href="#" class="nav-btn is-active">
                    <li class="buttons">
                        Accueil
                    </li>
                </a>
                <a href="#" class="nav-btn">
                    <li class="buttons">
                        Personnages
                    </li>
                </a>
                <a href="#" class="nav-btn">
                    <li class="buttons">
                        Comics
                    </li>
                </a>
            </ul>
            <div class="right-user">
                <span>Maxime</span>
                <div class="avatar avatar-small">
                    <%= image_tag("avatar_joker") %>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="banner">
    <div class ="banner-img">
        <%= image_tag("banner_comics.jpg") %>
    </div>
    <div class="banner-desc">
        <div class="banner-title">
            <h1>Découvrez l'univers</h1><br/>
            <h1>de la JUSTICE LEAGUE</h1>
        </div>
        <a href="#" class="btn btn-indigo-full">Cliquez ici pour plus d'informations</a>
    </div>
    <div class="banner-overlay"></div>
</div>
<div class="tabs-wrapper">
    <ul class="tabs-item container">
        <li><a href="#" class="btn btn-indigo-empty">Membres fondateurs</a></li>
        <li><a href="#" class="btn btn-indigo-empty">Membres récurrents</a></li>
        <li><a href="#" class="btn btn-indigo-empty">Super-vilains</a></li>
    </ul>
</div>

<div class="cards-wrapper">
    <div class="container">
        <div class="cards-list">
            <div class="cards-item card-yellow">
                <!--<div class="card-img">
                    <%= image_tag("card_batman") %>
                </div>-->
                <p class="character-desc">Lorem ipsum etc</p>
                <div class="avatar-wrapper">
                    <div class="avatar avatar-large">
                        <%= image_tag("avatar_batman.jpg") %><br/>
                    </div>
                </div>
            </div>
            <div class="cards-item card-blue">
                <p class="character-desc">Lorem ipsum etc</p>
                <div class="avatar-wrapper">
                    <div class="avatar avatar-large">
                        <%= image_tag("avatar_superman.jpg") %>
                    </div>
                </div>
            </div>
            <div class="cards-item card-red">
                <p class="character-desc">Lorem ipsum etc</p>
                <div class="avatar-wrapper">
                    <div class="avatar avatar-large">
                        <%= image_tag("avatar_wonderwoman.jpg") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <p>Enjoy my website <3</p>
</footer>
